@page "/"

<h1>Event Tracker</h1>


<p><i>This app was built to enable parents to find answers for your child. Specifically it was built to track our sons hourly events. Now the application is designed to help you. By tracking events over time we found it easier to communicate with professionals about the past and future.</i></p>

<p style="font-size:large; font-weight:400">Follow these 4 simple steps to get setup and go!</p>

<ul> 
    <li>Step 1: Register & Confirm</li>
    <li>Step 2: Sign In</li>
    <li>Step 3: <span class="oi oi-clipboard" aria-hidden="true"></span> Create Profile</li>
    <li>Step 4: <span class="oi oi-plus" aria-hidden="true"></span> Create Events</li>
</ul>

<p style="font-size:large; font-weight:400">If you are a grand parent or relative or friend, follow these 4 steps</p>

<ul>
    <li>Step 1: Register & Confirm</li>
    <li>Step 2: Sign In</li>
    <li>Step 3: Call your loved one and have them [<span class="oi oi-people" aria-hidden="true"></span> Grant Access] to add your email in the upper right (Hello,   )</li>
    <li>Step 4: When they add you in the [ <span class="oi oi-people" aria-hidden="true"></span> Grant Access] section you can now see <span class="oi oi-list-rich" aria-hidden="true"></span> Events</li>
</ul>
 