@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="http://tubie.tools/" title="Tubie tools, Feeding Tube Accessories" target="_blank"><img src="/images/isla_500x500.39967981_5a6fjn8x.jpg" width="40" />Tubie Tools</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
